// Overwrite theme here

// override variables
$primary: #bb86fc;
$secondary: #03dac5;
$dark: #121212;
$light: rgb(214, 214, 214);
// $success: #0fa;
$info: #3700b3;
// $warning: yellow;
$danger: #cf6679;

// Import bootstrap styles at the bottom!
// @import 'node_modules/bootstrap/scss/bootstrap.scss';
@import '~bootstrap/scss/bootstrap.scss';
// -Import this .scss file in _app.js.
